/*general*/

* 
{
  margin:0;
  padding: 0;
}



body
{
    font-family: arial,sans-serif;
    font-size: 15px;
   
}
.image
{
background-size: auto;

}
h1
{
    font-family: 'create round', serif;
    font-size: 45px;
    color: #444;
    margin-bottom: 10px; 
    margin-left: 15px;
}
ul
{
    list-style: none;
}
.orange
{
    color: #ff7a00;
    
}
.black
{
    color: #444;
}

/*header*/
header 
{
    height: 120px;  
}
header h1
{
    float: left;
    margin-top: 42px;
}
header nav
{
    float: right;
    margin-top: 60px;
    margin-left: 0px;
}
header nav ul li
{
    display: inline-block;
    margin-right: 60px;
}
header nav ul li a
{
    text-transform: lowercase;
    font-family: sans-serif;
    margin-bottom: 35px;
    color: #444;
    text-decoration: none;
    
}
h2
{
    color: #ff7a00;
    font-size: 40px;
    margin-left: 15px;
}

h3
{
    color: #444;
    font-size: 45px;
    margin-left: 15px;
}

h4
{
    color: #444;
    font-size: 45px;
    margin-left: 15px;
}
p
{
    margin-top: 20px;
    margin-left: 15px;
    padding: 0px;
}
h5
{
    margin-top: 45px;
    margin-bottom: 15px;
    padding: 10px;
}
.video
{
    padding: 100px;
}
h6
{
    margin-top: 60px;
    padding: 10px;
    
}

















